<html>
<head>
<script type="text/javascript" src="{{ url_for( 'static', filename='dygraph/2.1.0/dygraph.js') }}"></script>
<link rel="stylesheet" href="{{ url_for( 'static', filename='dygraph/2.1.0/dygraph.css') }}" />
</head>
<body>
<div id="graphdiv"></div>
<script type="text/javascript">
   g = new Dygraph(
      document.getElementById("graphdiv"),  // containing div
      "{{ url_for( 'static', filename='temperatures.csv') }}",
      {
         showRoller: true,
         rollPeriod: 5,
         errorBars: true,
         valueRange: [50,125],
      }                                   // the options
   );

   /*
   var data = [];
      var t = new Date();
      for (var i = 10; i >= 0; i--) {
        var x = new Date(t.getTime() - i * 1000);
        data.push([x, Math.random()]);
      }

      var g = new Dygraph(document.getElementById("div_g"), data,
                          {
                            drawPoints: true,
                            showRoller: true,
                            valueRange: [0.0, 1.2],
                            labels: ['Time', 'Random']
                          });
      setInterval(function() {
        var x = new Date();  // current time
        var y = Math.random();
        data.push([x, y]);
        g.updateOptions( { 'file': data } );
      }, 1000);

   */
</script>
</body>
</html>