{% extends "layout.html" %}
{% block title %} index {% endblock %}
{% block body %}
{% if current_user.is_authenticated %}
   <div class="ui grid">
      <div class="ten wide column">
         {% include 'graph.html' %}
      </div>
      <div class="six wide column">
         {% include 'sum.html' %}
      </div>
   </div>
{% else %}
   <div class="ui container">
      <h1 class="ui header">welcome to FBRAIN</h1>
      <h3 class="ui header green"> @ -R pouria </h3>
   </div>
{% endif %}
{% endblock %}